<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-md-2 control-label">ID</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.id" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Gender</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.gender" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.email" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">City</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.city" />
        </div>
    </div>
    <div class="form-group">
        <div style="padding-left: 400px">
            <button value="Save" ng-click="submit()" class="btn btn-primary">Save</button>
              <button value="Save" ng-click="cancle()" class="btn btn-primary">Cancle</button>
        </div>
    </div>
       
</form>